@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* Global styling */
* {
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  max-width: 375px;
}

.section-center {
  width: 90vw;
  max-width: 375px;
  margin: 0 auto;
}

.bg-img {
  background: url(./images/bg-mobile-light.jpg) no-repeat;
}

img {
  display: block;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .5em;
}

.btn {
  background: transparent;
  border: transparent;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 100%;
  height: 50px;
  border: none;
}

.todo-container {
  margin-top: 20px;
  width: 100%;
  background: white;
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

.todo-item:hover {
  color: lightgray;
  background: grey;
}

.todo-item:hover .title {
  color: lightgray;
}

.alert {
  padding-top: 5px;
  height: 1.25rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: white;
}

.alert-success {
  background: green;
}

.alert-danger {
  background: red;
}

.toggle-state-btn {
  background: white;
  border: none;
}

@media only screen and (min-width: 700px) {
  .bg-img {
    background: url(./images/bg-desktop-light.jpg) no-repeat;
  }
  .page-wrapper {
    max-width: 1440px;
  }
  .section-center {
    width: 90vw;
    max-width: 33vw;
    margin: 0 auto;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  h1 {
    letter-spacing: 18px;
    font-size: 32px;
  }
  .desktop-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */